[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
pytz = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.8"
