[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
flask-login = "*"
werkzeug = "<=2.0.3"
flask-sqlalchemy = "*"
pytz = "*"
faker = "*"
humanize = "*"
gunicorn = "*"
psycopg2 = "*"
profanity-filter = "*"
flask-wtf = "*"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz"}

[dev-packages]

[requires]
python_version = "3.8"
