[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
flask-login = "*"
werkzeug = "<=2.0.3"
flask-sqlalchemy = "*"
pytz = "*"
faker = "*"
humanize = "*"
gunicorn = "*"
psycopg2 = "*"
profanity-filter = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.8"
