{% extends 'layouts/index.html' %}
{% block content %}
        <div id="about">
            <p>Designed for RowdyHacks 2022, <strong>Runnerspace</strong> is a retro throwback site designed to mimic the feel and features
                of the popular website 'MySpace' and other social media of it's era. Runnerspace aims to be simple, easy to use, easy to
                debug, and uncomplicated at it's core. It's tech stack is as simple as it gets - HTML, CSS and Javascript running on Flask,
                dockerized.
            </p>
            <p>Runnerspace was created by <a href="https://github.com/Xevion/">Ryan Walters</a> and <a href="https://github.com/Seligmann">Zachary
                Seligman</a>. You can find all the source code and a full commit log at <a href="https://github.com/Xevion/runnerspace">github.com/Xevion/runnerspace</a>.
            </p>
        </div>
{% endblock %}
