{% extends 'layouts/index.html' %}

{% block content %}
        <div class="profile-title">
            <span class="profile-username">{{ user.name }}</span>
            {% with seen_text = user.get_last_seen() %}
                {% if seen_text == 'Online now!' %}
                    <span class="profile-timestamp online">{{ seen_text }}</span>
                {% else %}
                    <span class="profile-timestamp offline">{{ seen_text }}</span>
                {% endif %}
            {% endwith %}
        </div>
        <div class="profile-lower">
            <div class="profile-left">
                <img class="profile-picture" src="{{ url_for('static', filename='default_photo.png') }}" alt="{{ user.username }}'s Profile Picture">
                <div class="profile-details">
                    Registered {{ user.get_registration_delta() }} ago<br>
                    0 likes<br>
                    0 posts<br>
                </div>
            </div>
            <div class="profile-bio">
                <p>
                    <strong>About me:</strong><br>
                    {{ user.about_me or "This user hasn't written a bio yet." }}
                </p>
            </div>
        </div>
{% endblock %}
