{% extends 'layouts/index.html' %}

{% block content %}
    <div class="content-inner">
        <div class="profile-title">
            <span class="profile-username">{{ user.username }}</span>
            <span class="profile-timestamp online">Online Now!</span>
        </div>
        <div class="profile-lower">
            <div class="profile-left">
                <img class="profile-picture" src="{{ url_for('static', filename='default_photo.png') }}" alt="{{ user.username }}'s Profile Picture">
                <div class="profile-details">
                    Registered 33 days ago<br>
                    67 likes<br>
                    14 posts<br>

                </div>
            </div>
            <div class="profile-bio">
                <p>
                    This user hasn't written a bio yet.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
