<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Runnerspace</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    </head>
    <body>
        <div class="content-outer">
            <div class="content">
                {% include 'layouts/header.html' %}
                {% block content %}
                    Do not extend <strong>base.html</strong> directly.
                {% endblock content %}
            </div>
            {% include 'layouts/footer.html' %}
        </div>
    </body>
</html>
