<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>Runnerspace</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
            <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/js/all.min.js"
                    integrity="sha512-YUwFoN1yaVzHxZ1cLsNYJzVt1opqtVLKgBQ+wDj+JyfvOkH66ck1fleCm8eyJG9O1HpKIf86HrgTXkWDyHy9HA=="
                    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% endblock %}
    </head>
    <body>
        <div class="content-outer">
            <div class="content">
                {% include 'layouts/header.html' %}
                <div class="content-inner">
                    {% block content %}
                        Do not extend <strong>base.html</strong> directly.
                    {% endblock content %}
                </div>
            </div>
            {% include 'layouts/footer.html' %}
        </div>
    </body>
</html>
