<footer>
    <p>
        created by <a href="https://github.com/Xevion">Ryan Walters</a> and <a href="https://github.com/Seligmann">Zachary Seligman</a>
    </p>
    <ul class="links">
        <li><a href="/">ABCDEF</a></li>
        <li><a href="/">GHIJK</a></li>
        <li><a href="/">LMNOP</a></li>
        <li><a href="/">QRSTUV</a></li>
        <li><a href="/">WXYZ</a></li>
    </ul>
    <p class="copyright">
        <a href="/">©2022 Runnerspace.live All Rights Reserved.</a>
    </p>
</footer>
