<div class="header">
    <div class="header-primary">
        <span id="logo">runnerspace</span>
        <div class="header-login">
            {% if logged_in %}
            Logged in as <a href="/user/{{ user.username }}" class="username">{{ user.username }}</a>
            {% else %}
                <a href="/login">Login</a> or <a href="/signup">Sign-up</a>!
            {% endif %}
        </div>
    </div>
    <nav class="header-secondary">
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/feed">My Feed</a></li>
            <li><a href="/users">Browse</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/messages">My Messages</a></li>
            <li><a href="/blogs">Blog</a></li>
            <li><a href="/groups">Groups</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</div>
