<div class="header">
    <div class="header-primary">
        <a id="img-logo" href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='roadrunner_header.png') }}">
        </a>
        {#        <a id="text-logo" href="{{ url_for('main.index') }}">runnerspace</a>#}
        <div class="header-login">
            {% if current_user.is_authenticated %}
                Logged in as
                <a href="{{ url_for('main.view_user', username=current_user.username) }}" class="username">{{ current_user.username }}</a>
                <a href="{{ url_for('main.edit_user', username=current_user.username) }}"><i class="fas fa-cog fa-1x"></i></a>
                | <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('main.login') }}">Login</a> or <a href="{{ url_for('main.signup') }}">Sign-up</a>!
            {% endif %}
        </div>
    </div>
    <nav class="header-secondary">
        <ul class="links">
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('main.feed') }}">My Feed</a></li>
            <li><a href="{{ url_for('main.browse') }}">Browse</a></li>
            <li><a href="{{ url_for('main.search') }}">Search</a></li>
            {#            <li><a href="{{ url_for('main.messages') }}">My Messages</a></li>#}
            {#            <li><a href="{{ url_for('main.blogs') }}">Blog</a></li>#}
            {#            <li><a href="{{ url_for('main.groups') }}">Groups</a></li>#}
            <li><a href="{{ url_for('main.about') }}">About</a></li>
        </ul>
    </nav>
</div>
