{% extends 'layouts/index.html' %}

{% block content %}
    <div class="content-inner" style="display: flex">
        <div style="margin: 0 auto;">
            <h2>404 - Content Not Found</h2>
            <p>
                {% if current_user.is_authenticated %}
                    Sorry <strong>{{ current_user.username }}</strong>, the
                {% else %}
                    The
                {% endif %} content you requested could not be found.
                <br>
                It may have been deleted or moved somewhere else.
                <span style="text-align: center">Go <a href="{{ url_for('main.index') }}">home?</a></span>
            </p>
        </div>
    </div>
{% endblock %}
