{% extends 'layouts/index.html' %}
{% from "macros.html" import render_field %}

{% block content %}
    <form method=post class="login-form">
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.name) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
            {{ render_field(form.accept_tos) }}
        </dl>
        <input type=submit value=Register>
    </form>

    <p class="form-subtext">
        Already have a login? <a href="{{ url_for('auth.login') }}">Login</a> instead!
    </p>
{% endblock content %}
