body, html {
  font-family: Arial, sans-serif;
  margin: 0;
}

#content {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  .content-inner {
    margin: 2em;
  }
}

#logo {
  color: #ef7900;
  font-size: 2.5em;
  letter-spacing: -2.8px;
  font-family: "Arial Rounded MT Bold", sans-serif;
}

.header-primary {
  background-color: #1b53a8;
  padding: 10px;

  .header-login {
    color: white;

    .username {
      text-decoration: underline;
      color: white !important;
    }
  }
}

.header-secondary {
  background-color: #7ca6ef;
  height: 30px;
  text-align: center;
  display: flex;

  .links {
    margin: auto auto;
  }
}

a {
  color: #1E40AF;
}

nav a {
  color: white;
}

footer a {
  color: #1E40AF;
}

nav, footer {
  .links {
    margin: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

footer {
  font-size: 60%;
  text-align: center;
}

footer .links {
  font-size: 0.875em;
  margin: 16px 0 5px 0;
  padding: 0;
  text-align: center;
}

nav .links li.active a {
  font-weight: bold;
}

nav, footer {
  .links li:not(:last-child)::after {
    content: " | ";
    color: black;
  }
}

.form-subtext {
  text-align: center;
  font-size: 1em;
}

form {
  margin: 0 auto;
  width: fit-content;

  &.login-form {
    border: 1px solid darkblue;
    padding: 10px
  }

  .field {
    padding: 4px;

    .checkbox {
      margin-left: auto;
    }
  }

  button {
    border-radius: 0px;
    width: 15em;
    margin: 0 auto;
  }
}
