@font-face {
  font-family: "Arial Rounded MT Bold";
  src: url("/static/arial_rounded_bold.ttf");
}

body, html {
  font-family: Verdana, Arial, sans-serif, Helvetica;
  margin: 0;
  background-color: #e7e7e7;
  line-height: 1.225;
}

.content-outer {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;

  .content {

    .content-inner {
      //min-height: 50vh;
      padding: 2em;
    }

    background-color: white;
  }
}

#about {

  .about-img {
    float: left;
    max-width: 15em;
    max-height: 15em;
    margin: 1em;
    filter: drop-shadow(5px 7px 6px rgba(0, 0, 0, 0.1));
  }

  p {
    text-align: justify;
  }
}


.header-primary {
  background-color: #1b53a8;
  position: relative;
  max-height: 100px;
  padding: 10px 0;

  #text-logo {
    text-decoration: none;
    color: #ef7900;
    font-size: 2.5em;
    letter-spacing: -2.8px;
    font-family: "Arial Rounded MT Bold", sans-serif;
  }

  #img-logo {
    height: 100%;
    box-sizing: border-box;

    img {
      max-width: 100%;
      max-height: 80px;
    }
  }

  .header-login {
    position: absolute;
    top: 1em;
    right: 1em;
    color: white;

    a {
      text-decoration: underline;
      color: white !important;
    }
  }
}

.header-secondary {
  background-color: #7ca6ef;
  height: 30px;
  text-align: center;
  display: flex;

  .links {
    margin: auto auto;
  }
}

a {
  color: #1E40AF;
}

nav a {
  color: white;
}

footer a {
  color: #1E40AF;
}

nav, footer {
  .links {
    margin: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        text-decoration: none;
      }
    }
  }
}

footer {
  font-size: 60%;
  text-align: center;
}

footer .links {
  font-size: 0.875em;
  margin: 16px 0 5px 0;
  padding: 0;
  text-align: center;
}

nav .links li.active a {
  font-weight: bold;
}

nav, footer {
  .links li:not(:last-child)::after {
    content: " | ";
    color: black;
  }
}

.form-subtext {
  text-align: center;
  font-size: 1em;
}

form {
  margin: 1em auto;
  width: fit-content;

  &.login-form {
    border: 1px solid darkblue;
    padding: 0.7em;
  }

  field {
    padding: 4px;

    .checkbox {
      margin-left: auto;
    }
  }

  button {
    border-radius: 0px;
    width: 15em;
    margin: 0 auto;
  }
}

.profile-title {
  display: block;
  border-bottom: 1px solid grey;
  width: 100%;

  .profile-username {
    font-size: 1.5em;
    font-weight: bold;
  }

  .profile-timestamp {
    padding-left: 1em;
    font-size: 0.9em;
  }
}

.offline {
  color: dimgrey;
}

.online {
  color: #0C8C00;
  font-weight: 600;
}

.profile-left {
  padding: 0.8em;
  width: fit-content;
  border-right: 1px solid grey;

  .profile-details {
    font-size: 0.7em;
    text-align: center;
  }

  .profile-picture {
    margin: 0.8em;
    max-width: 10em;
    max-height: 10em;
    filter: drop-shadow(5px 7px 6px rgb(0 0 0 / 0.1));;
  }
}

.profile-bio, .profile-left {
  display: inline-block;
}

.profile-lower {
  display: flex;
  white-space: nowrap;

  .profile-bio {
    margin: 0.5em 1em;
    white-space: normal;
    font-size: 0.9em;
  }
}

.user-list {

  .user-list-row {
    white-space: nowrap;
    display: flex;
  }

  .user-box {
    width: 50%;
    margin: 0.3em;
    padding: 0.5em;
    border: 1px solid darkblue;
    height: 6em;

    .user-box-timestamp {
      font-size: 0.8em;
    }

    .user-box-username {
      font-weight: bold;
    }

    .user-box-bottom {
      height: 100%;
      display: flex;

      .user-box-minibio {
        width: calc(100%);
        margin: 0.4em;
        margin-left: 0.6em;
        display: -webkit-box;
        line-height: 1.2em;
        height: 3.6em;


        -webkit-line-clamp: 3;
        white-space: normal;
        overflow: hidden;
        -webkit-box-orient: vertical;
      }
    }

    .user-box-img {
      img {
        margin-top: 0.3em;
        max-height: 3em;
        max-width: 3em;
        filter: drop-shadow(5px 7px 6px rgb(0 0 0 / 0.2));;
      }
    }
  }
}

.profile-form {
  margin: 0 auto;
  width: 80%;

  textarea {
    margin: 0.5em auto;
    height: 10em;
    width: 100%;
  }

  button {
    margin: 0.3em auto;
    text-align: center;
  }

  label {
    margin: 0.5em 0;
  }
}

.post-box {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 1.5em;
  padding-bottom: 0.8em;
  margin: 0.45em;

  .post-author {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 0.8em;
    border-bottom: 1px solid grey;
    padding-bottom: 0.8em;

    &.no-border {
      border: none;
      padding-bottom: 0;
    }
  }

  .post-comments {
    padding-left: 2em;
    font-size: 0.8em;

    .post-comment {
      width: fit-content;
      margin: 0.4em;
      padding: 0.3em;
      border: 1px solid rgba(128, 128, 128, 0.51);
      border-radius: 3px;

      &.add-comment {
        border: 0;

        button {
          margin-left: 0.8em;
          width: fit-content;
        }
      }

      .comment-author {
        //margin-left: 1em;
        font-size: 0.9em;
        vertical-align: center;
        text-decoration: none;
      }
    }
  }
}

.new-users, .statistics {
  margin-top: 0 !important;

  > div {
    border: 1px solid grey;
    padding: 0.2em;
    width: fit-content;
    padding-right: 1.5em;

    a {
      text-decoration: none;
    }
  }
}

.statistics > div {
  min-height: 235px;
  margin: 1em;
}

span.error-message {
  margin: 0.5em;
  border: 1px solid red;
  padding: 0.3em;

  &.center-message {
    margin: 0 auto;
    display: table;
  }
}
